::selection {
    background: #FF4F4F;
    color: white;
}
* {
    box-sizing: border-box;
}
a:link{
	color: #fcc;
	text-decoration: none;
}
a:visited {
	color: #fcc;
}
a:hover {
	color: #FF4F4F;
}
a:active {
	color: white;
}
body {
	background: #161616;
	padding: 0;
	margin: 0;
    color: white;
    font-size: 14px;
	font-family: 'Century Gothic', 'Calibri', Geneva, Sans-serif;
}
.whole-page{
    position: relative;
	padding: 0 auto;
	margin: 0 auto;
	width: 650px;
}
.wide-page{
	width: 800px;
}
header{
	position: relative;
	width: 100%;
	padding: 0;
    margin: 0;
}
.title{
    position: relative;
	margin: 10px 0 0 0;
	width: 100%;
    font-family: 'Copperplate Gothic', 'Tahoma', Helvetica, sans-serif;
	color: white;
	text-align: center;
    font-size: 70px;
    line-height: 100px;
}
a.title {
    display: block;
    color: white;
    cursor: pointer;
}
a.title:hover {
	color: #FF4F4F;
	animation: title-hover 0.25s;
}
@keyframes title-hover
{
	0% {color: white;}
}
.photo {
	position: relative;
	margin: 10px auto 0 auto;
    width: 197px;
    height: 271px;
    background: url('Files/Images/Yi-Chia.png') no-repeat center;
}
nav {
	position: relative;
    width: 100%;
    height: 200px;
	padding: 0;
	margin: 0;
}
.nav-button {
    position: absolute;
    top: 70px;
    width: 250px;
    cursor: pointer;
}
.no-pointer {
    cursor: default;
}
.nav-button-small {
    position: absolute;
    width: 75px;
}
.nav-triangle {
    fill: #FF4F4F;
    stroke: none;
    stroke-width: 0;
}
#secret-button-left {
    top: 15px;
    left: 45px;
}
#secret-button-right {
    top: 107px;
    left: 530px;
}
.rotate {
    transform: rotate(-45deg);
}
#about-button {
    left: 20px;
}
#publication-button {
    left: 140px;
}
#resource-button {
    left: 260px;
}
#demo-button {
    left: 380px;
}
.white-shape {
    fill:white;
    stroke: none;
    stroke-width: 0;
}
.red-shape {
    fill: #FF4F4F;
    stroke: none;
    stroke-width: 0;
}
.nav-button:hover .white-shape{
    fill:#FF4F4F;
    animation: nav-hover 0.25s;
}
@keyframes nav-hover
{
0% {fill: white;}
}
main {
    position: relative;
    width: 100%;
    padding: 0;
	margin: 20px 0 30px 0;
}
.last-update {
	font-family: 'Copperplate Gothic', 'Tahoma', Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	color: white;
}
.text-box {
    width: 90%;
    margin: 20px auto 50px auto;
	text-align: left;
    font-size: 17.8px;
	line-height: 26px;
	color: white;
}
.english-paragraph {
    margin: 0 auto 20px auto
}
.chinese-paragraph {
    margin: 0 auto 20px auto;
    font: 18px 'Noto Sans TC', sans-serif;
    line-height: 30px;
}
.align-center {
    text-align: center;
}
.no-margin {
    margin: 0;
}
.resource-section-title {
	padding: 80px 0 5px 0;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
}
.resource-first-section-title {
    padding: 40px 0 5px 0;
}
.resource-section-subtitle {
	padding: 20px 0 6px 0;
	font-weight: 600;
}
.section-title{
	padding: 30px 0 17px 0;
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}
.publications{
	margin: 0;
	padding: 0 0 12px 40px;
	font-size: 16px;
	line-height: 26px;
	text-indent: -40px;
}
.publications-conf {
	margin: 0;
	padding: 0 0 10px 40px;
	font-size: 15px;
	text-indent : -40px;
}
footer {
	position: relative;
	width: 100%;
	height: 65px;
	margin: 0 0 50px 0;
}
.footer-button {
    position: absolute;
	width: 75px;
	cursor: pointer;
}
#gs-button {
	left: 175px;
}
#rg-button {
	left: 287.5px;
}
#github-button {
    left: 399px;
}
.tight{
    position: absolute;
    top: 0;
}
.footer-icon {
    position: absolute;
    top: 12px;
    left: 16.5px;
}
.hexagon {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-miterlimit: 10;
}
.ai {
    color: white;
}
.fab {
    color: white;
}
.footer-button:hover .hexagon{
    stroke:#FF4F4F;
    animation: footer-outline-hover 0.25s;
}
@keyframes footer-outline-hover
{
0% {stroke: white;}
}
.footer-button:hover .ai {
    color:#FF4F4F;
    animation: footer-hover 0.5s;
}
.footer-button:hover .fab {
    color:#FF4F4F;
    animation: footer-hover 0.5s;
}
@keyframes footer-hover
{
0% {color: white;}
}

@media screen and (max-width: 650px) {
    .whole-page{
        width: 300px;
    }
    .title{
        font-size: 40px;
        line-height: 70px;
    }
    nav {
        height: 140px;
    }
    .nav-button {
        top: 50px;
        width: 180px;
        cursor: pointer;
    }
    .nav-button-small {
        display: none;
    }
    #about-button {
        left: -40px;
    }
    #publication-button {
        left: 30px;
    }
    #resource-button {
        left: 100px;
    }
    #demo-button {
        left: 170px;
    }
    .text-box {
        width: 100%;
        font-size: 18px;
    }
    .resource-section-title {
        padding: 10px 0 5px 0;
        font-size: 20px;
    }
    .section-title{
        padding: 10px 0 10px 0;
        font-size: 20px;
    }
    .publications{
        font-size: 16px;
        line-height: 22px;
        text-indent: -30px;
    }
    .publications-conf {
        font-size: 16px;
        line-height: 22px;
        text-indent : -30px;
    }
    footer {
        height: 50px;
        margin: 0 0 30px 0;
    }
    #gs-button {
        left: 15px;
    }
    #rg-button {
        left: 112.25px;
    }
    #github-button {
        left: 210px;
    }
}
